/* .LandingPage {
    color: lightseagreen;
    font-size: 24px;
    font-weight: bold;
    text-align:left;
}
.VisPage{
    margin-top: 20%;

}
.Subtitle{
    background-color: midnightblue;
    font-size: 24px;
    font-weight: bold;
}
header {
    background:lightseagreen;
    color: white;
  }
.LandingPageImage { 
    float: left;  
    margin: 5px;
    width: 50%;
    height: auto;
} 
p { 
    text-align: justify; 
    font-size: 25px;
    line-height: 1.6;
} 



.Visual {
    color:lightseagreen;
    font-weight: 700;

}


.Comparisons {
    color:lightseagreen;
    font-weight: 700;

}


.Data {
    color:lightseagreen;
    font-weight: 700;

} */